body {
    color: blue;
}
.container {
    display: flex;
}
.messages {
    overflow: auto;
    height: 70vh;
    color: brown;
}
 .send {
  background-color:darkslateblue;
  position: absolute;
  bottom: 2px;
}
.send .handel {
    width: 10vw;
}
.send .message {
    width: 47vw;
    padding-right: 2px;
}
.msg{
    background-color: azure;
    border: solid blue;
    height: 80vh;
    width: 60vw;
    position: relative;
    float: initial;
}